asgiref==3.8.1
attrs==24.3.0
beautifulsoup4==4.12.3
boto3==1.35.84
botocore==1.35.84
cached-property==2.0.1
certifi==2024.12.14
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
dataflows-tabulator==1.54.3
datapackage==1.15.4
dj-database-url==2.3.0
Django==5.1.4
django-allauth==65.3.1
django-cors-headers==4.6.0
django-filter==24.3
django-phonenumber-field==8.0.0
django-rest-auth==0.9.5
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
dotenv==0.9.9
et_xmlfile==2.0.0
finnhub-python==2.4.22
frozendict==2.4.6
greenlet==3.1.1
gunicorn==23.0.0
html5lib==1.1
idna==3.10
ijson==3.3.0
isodate==0.7.2
jmespath==1.0.1
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
linear-tsv==1.1.0
lxml==5.3.0
Markdown==3.7
multitasking==0.0.11
numpy==2.2.0
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
peewee==3.17.8
phonenumbers==8.13.53
pillow==11.1.0
platformdirs==4.3.6
psycopg2-binary==2.9.10
Pygments==2.18.0
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2024.2
redis==5.2.1
referencing==0.35.1
requests==2.32.3
rest-framework-simplejwt==0.0.2
rfc3986==2.0.0
rpds-py==0.22.3
s3transfer==0.10.4
simplejson==3.19.3
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.36
sqlparse==0.5.2
tableschema==1.21.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
unicodecsv==0.14.1
urllib3==2.2.3
webencodings==0.5.1
whitenoise==6.9.0
xlrd==2.0.1
yfinance==0.2.51
